{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}
    {% if widget.getPageParent %}
        {{ render(controller('VictoireWidgetSiblingsMenuBundle:SiblingsMenu:show', { 'page': widget.currentView })) }}
    {% else %}
        <div class="vic-alert vic-alert-warning">{{ 'widget.siblingsmenu.show.empty'|trans({}, 'victoire') }}</div>
    {% endif %}
{% endblock content %}
